<h1>View your Todo</h1>

<p>
  <%= @listing.description%>
</p>
<p>
  <%= link_to "edit this todo ", edit_listing_path(@listing)%>
</p>  
<p>
  <%= link_to "back to Todo's listing", listings_path%>
</p>  